.card{
    position: relative;
    border-radius: 2%;
    Box-shadow:0 8px 16px rgba(176, 176, 176, 0.7);
    margin-bottom: 2%;
    background-color: #04293A;
    color: white;
    // height: 45vh;
}

::ng-deep .ngx-charts { 
    text{
        fill: #fff!important; 
    }
}

